---
layout: whereAmI
title: "Where Was I?"
description: "An interactive map of what I was doing along the PCT."
header-img: "img/whereAmI-bg.jpg"
---

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 500px;
  }
</style>

<script>

var mileageData = {
{% for location_hash in site.data.locations %}
    "{{ location_hash[0] }}": {
      "lat": {{ location_hash[1]["lat"] }},
      "lng": {{ location_hash[1]["lng"] }}
    },
{% endfor %}
}

var postInfo = {
{% for post in site.posts %}
{% if post.mile %}
   "{{ post.mile }}": {"title": "{{ post.title }}",
                       "url": "{{ post.url }}",
                       "subtitle": "{{ post.subtitle }}",
                       "mile": "{{ post.mile }}",
                       "date": "{{ post.date | date: "%B %-d, %Y" }}"
                     },
{% endif %}
{% endfor %}
}

</script>

<div id="map"></div>
    <script>
    var currentInfoWindow = null

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: mileageData["2650"],
          mapTypeId: 'terrain'
        });

        var mileageKeys = Object.keys(mileageData)
        for (key of mileageKeys) {
          var title = postInfo[key]["title"]
          var marker = new google.maps.Marker({
            position: mileageData[key],
            map: map,
            title: title,
            url: postInfo[key]["url"],
            subtitle: postInfo[key]["subtitle"],
            mile: postInfo[key]["mile"],
            date: postInfo[key]["date"]
          })

          if (key == "2650") {
            var content = "<div style='cursor: pointer' onclick=\"window.location ='" + marker.url + "'\"><center><h3>" + marker.title + "</h3>"
            content += marker.subtitle + "<br/>"
            content += "<b>Mile: " + marker.mile + "</b><br/>"
            content += marker.date
            content += "</center></div>"

            var infowindow = new google.maps.InfoWindow({
              content: content
            });

            infowindow.open(map, marker);
            currentInfoWindow = infowindow;
          }

          google.maps.event.addListener(marker, 'click', function() {

            if(currentInfoWindow) {
              currentInfoWindow.close()
            }

            var content = "<div style='cursor: pointer' onclick=\"window.location ='" + this.url + "'\"><center><h3>" + this.title + "</h3>"
            content += this.subtitle + "<br/>"
            content += "<b>Mile: " + this.mile + "</b><br/>"
            content += this.date
            content += "</center></div>"

            var infowindow = new google.maps.InfoWindow({
              content: content
            });


            infowindow.open(map, this);

            currentInfoWindow = infowindow
          });
        }


      }
    </script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvhO8v5BhRc2A--LnfC_8e7L3UTzOziSk&callback=initMap" async defer>
</script>
